<div class="container">
  <div class="duckie-center">
    <%= image_tag "rubber_ducky_yellow.png", width: 72, height: 56 %> 
  </div>
  <%= form_for @message, :html => {:class => 'form-signin'} do |f| %>
    <h2 class="form-signin-heading text-center">Who What When</h2>
    <div class="input-group form-www-field">
      <span class="input-group-addon">+1</span>
      <%= f.phone_field :receiver, :class => 'form-control', :placeholder => "Enter a phone number" %>
    </div>
    <%= f.text_field :body, :class => 'form-control form-www-field', :placeholder => "Your text message" %>
    <%= f.text_field :send_at, :class => 'form-control form-www-field', :placeholder => "When to send. i.e. 'in 5 minutes'" %>
    <%= f.submit "Schedule text message", :class => 'btn btn-lg btn-primary btn-block' %>
  <% end %>
</div>