<div class="container">
  <div class="duckie-center">
    <% if flash[:message] %>
    <div class="bubble"><%= flash[:message] %></div>
  <% end %>
    <%= image_tag "rubber_ducky_yellow.png", width: 72, height: 56 %> 
  </div>



  <%= form_for Message.new, :html => {:class => 'form-signin'} do |f| %>
    <h2 class="form-signin-heading text-center">Who What When</h2>
    <div class="input-group form-www-field">
      <span class="input-group-addon">+1</span>
      <%= f.phone_field :receiver, :id => 'phone_input', :class => 'form-control', :placeholder => "enter a phone number" %>
    </div>
    <%= f.text_field :body, :class => 'form-control form-www-field', :placeholder => "your reminder" %>
    <%= f.text_field :send_at, :class => 'form-control form-www-field', :placeholder => "when (e.g. 'in 5 minutes')" %>
    <%= f.submit "Schedule text message", :class => 'btn btn-lg btn-primary btn-block', :id => 'submit_button' %>
  <% end %>
</div>